@charset "UTF-8";

/* .card{
    margin: 15px;
} */

.card a{
    text-decoration: none;
    color: black;
}

.card-store{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;

}

.imgParent{
    width: 260px;
    height: 260px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.card-img-top{
    display: block;
    width: 100%;
    height: auto;
}

