hr{
    /* mb-1 mt-n2 */
    margin-top:10px;
    margin-bottom: 15px;
}

.box1{
    height: auto;
    min-height: 100%;
    padding-bottom: 125px;
}

.box2{
    /* my-5 */
    margin-top: 0;
}

.content{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.card{
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
}

.img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

li.list-group-item{
color: white;
font-family: 'Pretendard-bold';
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
border: none;
margin: 16px;
background-color: black;
}

.list-group-item:hover{
color: var(--CI, #00E577);
}

ul a{
    text-decoration: none;
}

h4 span{
    background-color: lightgray;
    padding-left: 10px;
    padding-right: 10px;
}

table{
    text-align: center;
}

.table thead{
	font-size: large;
    height: 60px;
}

.tbTitle{
	vertical-align: middle !important;  
	font-size: large;
}
.tbTitle2{
	vertical-align: middle !important;  
	font-size: medium;
}

.mtablediv{
    padding: 30px;
}

.mtable{
    display: flex;
    justify-content: center;
    height: max-content;
}

.mtable tr{
    /* margin-top: 10px;
    margin-bottom: 10px; */
    
}

.mtable th{
    width: 130px;
    vertical-align: top;
    font-size: 17px;
    text-align: start;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mtableList{
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.myheader {
	background-color: black;
	height: 348px;
	width: 100%;
}

.myheadermargin {
	width: 1120px;
	height: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

.profileimg {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-right: 40px;
}

.proName {
color: #FFF;
font-family:'Pretendard-bold';
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin: 4px 0px;
}

.proSub {
margin: 4px;
color: #999;
font-family: 'Pretendard-Regular';
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;	
}

.rightarray {
display: flex;
justify-content: flex-end !important;
}

.textbbox {
	width:120px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.listContainer {
	width: 1120px;
	
}

.calbox {
	width: 100%;
}

.mypagerow {
	display: flex;
	width: 100%;
}

.calbox2 {
	width: 416px;
	height: 180px;
}

.myheadermargin2 {
	height:80%;
	width: 100%;
	display: flex; 
	flex-direction: row; 
	align-items: center; 
	justify-content: space-between;
}

.mypagimargin {
	margin: 40px 0px; 
	min-height: 80vh;
	width: 100%;
	display: flex;
    justify-content: space-between;
}

.mycontenttitle {
    color: #000;
    font-family: 'Pretendard7';
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 32px;
}

.mycontentbar {
width: 100%;
height: 4px;
border:0;
flex-shrink: 0;
color: #000 !important;
background-color: #000 !important;
background: #000 ;
margin-top: 16px;
margin-bottom: 0px !important;
	
}



/* =========================================================== */



.card-header{
    font-size: 18px;
    text-align: center;
}

.profileCard{
    width: 220px;
}

.list-group a{
    text-decoration: none;
}

.profileContent{
    /* border: 1px solid red; */
    width: 1000px;
}

.headline{
    font-weight: bold;
    margin-left: 15px;
    margin-top: 15px;
}

.realContent{
    /* border: 1px solid blue; */
    padding: 10px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card{
    margin: 15px;
}

.card a{
    text-decoration: none;
    color: black;
}

.card-store{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;

}

.imgParent{
    width: 284px;
    height: 284px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-img-top{
    display: block;
    width: 100%;
    height: auto;
    /* border-radius: 16px; */
}

.sub-cate{
    color: #666;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5px;
}


.tbTitle2 {
	font-family: 'Pretendard5';
	width: 100px;
	font-size: 20px;
}


.wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom: 125px;
}
